@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 8px;
   /* Updated border radius */
}

/* Track */
::-webkit-scrollbar-track {
  background: #4b5563;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Show scrollbar on hover */
.hover\:scroll-auto:hover {
  overflow-x: auto;
}



@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Animation utility classes */
.animate-slideUp {
  animation: slideUp 0.8s forwards;
}

.animate-slideOutLeft {
  animation: slideOutLeft 0.8s forwards;
}

.animate-slideOutRight {
  animation: slideOutRight 0.8s forwards;
}

/* ABout us Links */


