@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 8px;
   /* Updated border radius */
}

/* Track */
::-webkit-scrollbar-track {
  background: #4b5563;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Show scrollbar on hover */
.hover\:scroll-auto:hover {
  overflow-x: auto;
}




@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

.animate-slide-in-bottom {
  opacity: 0; /* Initially hidden */
  transform: translateY(100px); /* Start off-screen below */
  animation: slide-in-bottom 0.5s ease-in-out forwards;
}

.shadow-gold:hover {
  box-shadow: 0 4px 20px rgba(255, 223, 0, 0.7); /* Yellow shadow for Gold */
}

.shadow-cyan:hover {
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.5); /* Cyan shadow for Diamond */
}
/* Animations for the left and right sections */
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw); /* Slide completely off the screen */
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw); /* Slide completely off the screen */
  }
}

.md\\:slide-out-right {
  animation: slideOutRight 0.8s forwards;
}

.lg\\:slide-out-left {
  animation: slideOutLeft 0.8s forwards;
}
